<% @results.each do |cit| %>
  <li role="option" data-autocomplete-value="<%= cit.id %>" class="list-group-item relative hover:bg-indigo-600 hover:text-white z-50 cursor-pointer py-2 pl-3 pr-9 text-gray-900;">
    <%= "#{cit.code}: #{cit.notes || cit.description}" %>
  </li>
<% end %>
