<% if data_set.errors.any? %>
  <div id="error_explanation" class="errors">
    <h2><%= pluralize(data_set.errors.count, "error") %> prohibited this data_set from being saved:</h2>

    <ul>
      <% data_set.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
