<div class="three-four">
  <%= render partial: 'data_set_steps', locals: {
    text: %w[text-gray-500 text-gray-500 text-indigo-600],
    borders: %w[border-indigo-600 border-indigo-600 border-indigo-600 ],
  } %>

  <br>

  <%= render partial: 'data_sets/data_set', locals: {data_set: @data_set} %>

  <br>
  <div class="inline-block ml-2">
    <a href="<%= edit_data_set_path(@data_set) %>" type="button" class="button">Edit Dataset</a>
  </div>

  <div class="inline-block ml-2">
    <%= link_to 'List Datasets', data_sets_path, class: "button-secondary" %>
  </div>

</div>
