<div class="mx-auto md:w-3/4 w-full">
  <%= render partial: 'data_set_steps', locals: {
    text: %w[text-indigo-600 text-gray-500 text-gray-500],
    borders: %w[border-indigo-600 border-gray-200 border-gray-200],
  } %>

  <br>

  <h1 class="font-bold text-3xl">New DataSet</h1>

  <%= render "form", data_set: @data_set %>

  <%= link_to 'Cancel', data_sets_path, class: "ml-2 bg-gray-100 inline-block px-6 py-2.5 font-medium text-xs leading-tight uppercase rounded shadow-md focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
</div>
