<div class="w-full">
  <%= render 'shared/header',
    title: @data_set.title,
    description: @data_set.description,
    buttons: [
      { label: "Edit", href: edit_data_set_path(@data_set) },
      { label: "List Datasets", href: data_sets_path, class: "button-secondary" }
    ]
  %>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
    <div class="mt-12 px-4 py-5 sm:px-6">
      <%= render @data_set %>
    </div>
  </div>
</div>
