<div class="three-four">
  <% if notice.present? %>
    <p class="notice" id="notice"><%= notice %></p>
  <% end %>

  <%= render @data_set %>

  <br>
  <div class="inline-block ml-2">
    <a href="<%= edit_data_set_path(@data_set) %>" type="button" class="button">Edit DataSet</a>
  </div>

  <div class="inline-block ml-2">
    <%= link_to 'List Datasets', data_sets_path, class: "button-secondary" %>
  </div>
</div>
