<div class="w-full">
  <%= render 'shared/classifications/header' %>
  <div class="responsive-container">
    <div class="mt-12 px-4 py-5 sm:px-6">
      <div class="grid grid-cols-2 gap-4">
        <% @data_sets.each do |data_set| %>
          <%= render 'data_set_card', data_set: data_set %>
        <% end %>
      </div>
      <%= paginate @data_sets %>
    </div>
  </div>
</div>
