<div class="sm:col-span-6 my-4">
  <%= form.label field, class: "mb-1 #{form.object.errors[field].any? ? "invalid" : ""}" %>
  <%= form.text_area field, placeholder: placeholder,
                            rows: rows,
                            class: form.object.errors[field].any? ? "invalid" : "" %>
  <% if form.object.errors[field] %>
    <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
      <%= form.object.errors.full_messages_for(field).join(", ") %>
    </span>
  <% end %>
</div>
