<div class="w-full">
  <% if notice.present? %>
    <p class="notice" id="notice"><%= notice %></p>
  <% end %>

  <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
    <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap">
      <div class="ml-4 mt-4">

        <div class="pb-5 border-b border-gray-200 sm:pb-0">
          <h3 class="text-lg leading-6 font-medium text-gray-900">Dashboards</h3>
          <p class="mt-1 text-sm text-gray-500">
            Manage, view and export your datasets and classifications from the dashboards screen.
          </p>
          <br>

          <div class="mt-3 sm:mt-4">
            <!-- Dropdown menu on small screens -->
            <div class="sm:hidden">
              <label for="current-tab" class="sr-only">Select a tab</label>
              <select id="current-tab" name="current-tab" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                <option>Datasets</option>
                <option selected>Call Type Mapping</option>

              </select>
            </div>
            <!-- Tabs at small breakpoint and up -->
            <div class="hidden sm:block">
              <nav class="-mb-px flex space-x-8">
                <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                <a href="#" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
                  Datasets </a>

                <a href="#" class="border-indigo-500 text-indigo-600 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm" aria-current="page">
                  Call Type Mapping </a>

              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <div class="overflow-x-auto">
            <table class="w-auto">
              <thead>
              <tr>
                <th scope="col" class="text-xs">
                  Detailed Call Type
                </th>
                <th scope="col" class="text-xs">
                  Common Incident Type
                </th>
                <th scope="col" class="text-xs">
                  Classifier
                </th>
              </tr>
              </thead>
              <tbody>
              <% @call_type_maps.each do |classification| %>
                <tr>
                  <td>
                    <% if classification.unknown? %>
                      <i>
                        <%= classification.value %>
                      </i>
                    <% else %>
                      <%= classification.value %>
                    <% end %>
                  </td>
                  <td>
                    <% if classification.unknown? %>
                      <i>
                        UNKNOWN
                      </i>
                    <% else %>
                      <%= link_to classification.common_incident_type&.code, '#', title: classification.common_incident_type&.notes || classification.common_incident_type&.description %>
                    <% end %>
                  </td>
                  <td>
                    <% if classification.unknown? %>
                      <i>
                        Mike C
                      </i>
                      <% else %>
                        Mike C
                      <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
