@layer components {
  table {
    @apply min-w-full;
  }

  table thead {
    @apply bg-gray-50;
  }

  table th {
    @apply text-left text-sm whitespace-nowrap
           py-4 px-4 first:pl-0 font-semibold
           text-gray-400;
  }

  table tr {
    @apply bg-white transition duration-300
           ease-in-out;
  }

  table tr.row {
    @apply even:bg-white odd:bg-gray-100;
  }

  table tr td {
    @apply first:p-6 font-medium text-sm
           text-gray-900 py-2 px-3 whitespace-nowrap;
  }
}
