@layer components {
  h2 {
    @apply text-3xl font-bold text-black pb-4;
  }

  h3 {
    @apply text-lg leading-6 font-medium
           text-gray-900;
  }

  h4 {
    @apply text-lg font-bold text-black pb-6 ;
  }

  h6 {
    @apply text-sm font-bold text-gray-500 pb-4;
  }

  p.description {
    @apply mt-1 text-sm text-gray-500;
  }

  dl dt {
    @apply text-sm font-medium text-gray-500;
  }

  .header {
    @apply bg-white px-4 py-5 border-b
           border-gray-200 sm:px-6;
  }

  .header-with-button {
    @apply -ml-4 -mt-4 flex justify-between
           items-center flex-wrap sm:flex-nowrap;
  }

  .errors {
    @apply bg-red-50 text-red-500 px-3
           py-2 text-sm font-medium rounded-lg
           mt-3;
  }

  .modal-title {
    @apply text-lg border-b-2 text-center
           pb-4 mb-8 font-bold;
  }
}
