@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input, textarea {
        @apply placeholder-gray-400;
    }

    input[type="text"], input[type="email"], input[type="password"], textarea, select {
        @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full
        sm:text-sm border-gray-300 rounded-md;
    }

    input.rounded-input, input.disabled-rounded-input {
        @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full
               sm:text-sm border-gray-300 border-0 w-full bg-white pl-12
               py-4 focus:shadow focus:outline-none focus:bg-white border-transparent
               text-gray-600 focus:border-transparent focus:ring-0 focus:text-gray-900
               rounded-3xl;
    }

    input.disabled-rounded-input {
        @apply bg-zinc-100;
    }

    input[type="file"] {
        @apply block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full;
    }

    input[type="checkbox"] {
        @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded;
    }

    .jumbo {
        @apply font-semibold text-3xl mb-5 text-indigo-600;
    }

    .button, input[type="submit"] {
        @apply relative inline-flex items-center px-6 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer;
    }

    a.button-secondary, button.button-secondary {
        @apply bg-gray-200 relative inline-flex justify-center px-4 py-2 border border-slate-300 hover:bg-gray-300 shadow-sm text-sm font-medium rounded-md active:shadow-lg transition duration-150 ease-in-out cursor-pointer;
    }

    .button-orange {
        @apply relative inline-flex items-center px-6 py-2 border border-transparent
               shadow-sm text-sm font-medium rounded-md text-white bg-orange-500
               hover:bg-orange-700 cursor-pointer;
    }

    .button-white {
        @apply relative inline-flex items-center px-6 py-2 border border-transparent
               shadow-sm text-sm font-medium rounded-md text-gray-500 bg-white
               hover:bg-zinc-200 cursor-pointer;
    }

    .button-selected {
        @apply bg-green-700 hover:bg-green-900;
    }

    .button-deselect {
        @apply bg-red-500 hover:bg-red-700;
    }

    a.button-cancel, button.button-cancel {
        @apply bg-gray-300 relative inline-flex justify-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md active:shadow-lg transition duration-150 ease-in-out cursor-pointer;
    }

    label {
        @apply block text-sm font-medium text-gray-700 mb-1;
    }

    table {
        @apply min-w-full;
    }

    table thead {
        @apply bg-gray-50;
    }

    table th {
        @apply text-left text-sm whitespace-nowrap py-4 px-4 first:pl-0 font-semibold text-gray-400;
    }

    table tr {
        @apply bg-white transition duration-300 ease-in-out;
    }

    table tr.row {
        @apply even:bg-white odd:bg-gray-100;
    }

    table tr td {
        @apply first:p-6 font-medium text-sm text-gray-900 py-2 px-3 whitespace-nowrap;
    }

    h3 {
        @apply text-lg leading-6 font-medium text-gray-900;
    }

    p.description {
        @apply mt-1 text-sm text-gray-500;
    }

    .header {
        @apply bg-white px-4 py-5 border-b border-gray-200 sm:px-6;
    }

    .header-with-button {
        @apply -ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-nowrap;
    }

    .errors {
        @apply bg-red-50 text-red-500 px-3 py-2 text-sm font-medium rounded-lg mt-3;
    }

    p.notice {
        @apply py-2 px-3 bg-green-50 text-green-500 font-medium text-center;
    }

    p.notice-border {
        @apply py-2 px-3 bg-green-50 text-green-500 font-medium text-center border-2 border-green-500;
    }

    p.alert {
        @apply py-2 px-3 bg-orange-50 text-orange-500 font-medium text-center;
    }

    p.alert-border {
        @apply py-2 px-3 bg-orange-50 text-orange-500 font-medium text-center border-2 border-orange-500;
    }

    .three-four {
        @apply mx-auto md:w-3/4 w-full;
    }

    dl dt {
        @apply text-sm font-medium text-gray-500;
    }

    .modal-title {
        @apply text-lg border-b-2 text-center pb-4 mb-8 font-bold;
    }

    .nav-item {
        @apply text-gray-300 hover:bg-gray-700 hover:text-white flex items-center px-2 py-2 text-sm font-medium rounded-md;
    }

    .nav-item-active {
        @apply text-white bg-indigo-600;
    }

    .nav-icon {
        @apply text-gray-400 mr-3 flex-shrink-0 h-6 w-6;
    }

    .line-clamp-1 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .line-clamp-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

