<%= form_with(model: [:admin, user], class: "contents") do |form| %>
  <%= render "shared/form/text_field", form: form,
                                       field: :email,
                                       required: true,
                                       type: :email,
                                       placeholder: "Enter an email" %>
  <%= render "shared/form/select", form: form,
                                   field: :role_id,
                                   options: options_for_select(@roles, @user.role&.id) %>
  <div class="inline">
    <%= form.submit value: action_name == 'new' ? 'Create User' : 'Update User', class: 'button' %>
  </div>
<% end %>
