<div class="w-full">
  <%= render 'shared/header',
    title: @user.email,
    description: 'Make updates to an existing user.'
  %>
  <div class="responsive-container">
    <div class="my-12 px-4 py-5 sm:px-6">
      <div id="users" class="header">
        <%= render "form", user: @user %>
        <%= link_to 'Cancel', admin_users_path, class: "button-cancel" %>
      </div>
    </div>
  </div>
</div>
